Repository myparcelnl/developer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support, @myparcelnl/api

.github/CODEOWNERS:

# --- Global: Only integration developers ---
*  @myparcelnl/integration

# --- Frontend and VuePress: Both integration and frontend developers ---
*.js           @myparcelnl/integration @myparcelnl/frontend
*.json         @myparcelnl/integration @myparcelnl/frontend
*.ts           @myparcelnl/integration @myparcelnl/frontend
*.vue          @myparcelnl/integration @myparcelnl/frontend
src/.vuepress  @myparcelnl/integration @myparcelnl/frontend

# --- All markdown: Integration and IT support ---
*.md   @myparcelnl/integration @myparcelnl/it-support
*.mdx  @myparcelnl/integration @myparcelnl/it-support

# --- API Reference: Integration, API and IT support ---
src/api-reference  @myparcelnl/integration @myparcelnl/api @myparcelnl/it-support

Update createFooter.ts
  src/.vuepress/config/createFooter.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update footer
  src/.vuepress/config/createFooter.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: update lockfile
  yarn.lock
Owners: @myparcelnl/integration

docs: move integrations to single file
  src/integrations.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: add e-tailize to integrations
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/e-tailize.png
  src/integrations.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: add e-tailize to integrations (#4)
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/e-tailize.png
  src/integrations.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: fix getting started link to an existing page
  src/.vuepress/config/createFooter.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: fix getting started link to an existing page (#5)
  src/.vuepress/config/createFooter.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: replaced documentation from github to developer portal
  src/.vuepress/public/documentation/delivery-options/deselect-1.png
  src/.vuepress/public/documentation/delivery-options/deselect-2.png
  src/.vuepress/public/documentation/delivery-options/deselect-3.png
  src/documentation/60.delivery-options/01.installation.md
  src/documentation/60.delivery-options/09.options.md
  src/documentation/60.delivery-options/10.usage-examples.md
  src/documentation/60.delivery-options/99.contributing.md
  src/documentation/60.delivery-options/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: fix white scrollbars on some browsers
  src/.vuepress/theme/client/styles/_scrollbar.scss
  src/.vuepress/theme/client/styles/index.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add delivery options documentation
  .idea/codeStyles/codeStyleConfig.xml
  src/documentation/60.delivery-options/01.installation.md
  src/documentation/60.delivery-options/09.options.md
  src/documentation/60.delivery-options/10.usage-examples.md
  src/documentation/60.delivery-options/99.contributing.md
  src/documentation/60.delivery-options/readme.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: pr feedback
  .idea/codeStyles/codeStyleConfig.xml
  src/documentation/60.delivery-options/09.options.md
  src/documentation/60.delivery-options/10.usage-examples.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Update CNAME
  CNAME
Owners: @myparcelnl/integration

Update CNAME
  CNAME
Owners: @myparcelnl/integration

docs: add delivery options documentation (#6)
  src/.vuepress/public/documentation/delivery-options/deselect-1.png
  src/.vuepress/public/documentation/delivery-options/deselect-2.png
  src/.vuepress/public/documentation/delivery-options/deselect-3.png
  src/documentation/60.delivery-options/01.installation.md
  src/documentation/60.delivery-options/09.options.md
  src/documentation/60.delivery-options/10.usage-examples.md
  src/documentation/60.delivery-options/99.contributing.md
  src/documentation/60.delivery-options/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: fix white scrollbars on some browsers (#7)
  src/.vuepress/theme/client/styles/_scrollbar.scss
  src/.vuepress/theme/client/styles/index.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

Update createFooter.ts
  src/.vuepress/config/createFooter.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add docsearch index
  src/.vuepress/theme/client/views/home/home-content/HomeContent.vue
  src/.vuepress/theme/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(search): add page-parent class to sidebar
  src/.vuepress/theme/client/components/sidebar-item/SidebarItem.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update workflows to increase performance
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Owners: @myparcelnl/integration

fix(search): add sidebar classes for crawler
  src/.vuepress/theme/client/components/sidebar-item/SidebarItem.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(search): add ignore selector
  src/.vuepress/theme/client/views/layout/sidebar/MPSidebar.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update link to slack in footer (#9)
  src/.vuepress/config/createFooter.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(search): update docsearch styles
  src/.vuepress/theme/client/styles/docsearch.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(search): apply has-children style to more elements
  src/.vuepress/theme/client/components/sidebar-item/SidebarItem.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add Stockitup to integrations
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/stockitup.png
  src/integrations.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: add Stockitup to integrations (#10)
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/stockitup.png
  src/integrations.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: improve seo
  src/.vuepress/theme/client/components/global/Cta.vue
  src/.vuepress/theme/client/styles/_typography.scss
  src/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

feat: add google analytics
  package.json
  src/.vuepress/config.ts
  src/.vuepress/theme/index.ts
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: reindex algolia crawler on site build
  .github/workflows/reindex.yml
Owners: @myparcelnl/integration

wip
  package.json
  private/importTranslations.mjs
  src/.vuepress/config.ts
  src/.vuepress/config/getLocales.ts
  src/.vuepress/importTranslations.ts
  src/.vuepress/integrations.json
  src/.vuepress/theme/client/components/global/AutoLink.vue
  src/.vuepress/theme/client/components/global/Badge.vue
  src/.vuepress/theme/client/components/global/Integration.vue
  src/.vuepress/theme/client/components/redirect-content/RedirectContent.vue
  src/.vuepress/theme/client/components/sidebar-item/SidebarItem.vue
  src/.vuepress/theme/client/composables/index.ts
  src/.vuepress/theme/client/composables/navbar/useNavbarConfig.ts
  src/.vuepress/theme/client/composables/navbar/useNavbarSelectLanguage.ts
  src/.vuepress/theme/client/composables/sidebar/headerToSidebarItem.ts
  src/.vuepress/theme/client/composables/sidebar/index.ts
  src/.vuepress/theme/client/composables/sidebar/resolveArraySidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/resolveAutoSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/resolveSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/setupSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/useSidebar.ts
  src/.vuepress/theme/client/composables/useEditNavLink.ts
  src/.vuepress/theme/client/composables/useLastUpdated.ts
  src/.vuepress/theme/client/composables/useLocaleLink.ts
  src/.vuepress/theme/client/composables/useNavLink.ts
  src/.vuepress/theme/client/composables/useThemeLocaleData.ts
  src/.vuepress/theme/client/composables/useTranslate.ts
  src/.vuepress/theme/client/services/composables/useNavbarConfig.ts
  src/.vuepress/theme/client/views/layout/header/navbar/navbar-brand/NavbarBrand.vue
  src/.vuepress/theme/client/views/layout/header/toggle-color-mode-button/ToggleColorModeButton.vue
  src/.vuepress/theme/client/views/layout/header/toggle-sidebar-button/ToggleSidebarButton.vue
  src/.vuepress/theme/client/views/layout/layout/Layout.vue
  src/.vuepress/theme/client/views/page/Page.vue
  src/.vuepress/theme/index.ts
  src/documentation/readme.md
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: update getting started page
  src/getting-started.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: update integrations
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/delivery-options.svg
  src/.vuepress/public/integrations/wix.png
  src/.vuepress/public/integrations/wix.svg
  src/.vuepress/theme/client/components/global/Integration.vue
  src/.vuepress/theme/client/components/global/Integrations.vue
  src/.vuepress/theme/client/composables/useIntegrations.ts
  src/integrations.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: correct some word casing
  src/api-reference/05.authentication.md
  src/api-reference/06.shipments.md
  src/api-reference/07.shipment-related-object-definitions.md
  src/api-reference/10.webhooks.md
  src/api-reference/11.webhook-object-definitions.md
  src/documentation/10.woocommerce/03.configuratie/01.algemeen.md
  src/documentation/13.magento2/03.configuratie/02.algemene-instellingen.md
  src/documentation/50.php-sdk/02.examples/09.retrieve-data-from-a-consignment.md
  src/documentation/50.php-sdk/02.examples/13.webhooks.md
  src/documentation/51.js-sdk/20.endpoints.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

fix: re-enable code hightlighting
  src/.vuepress/theme/index.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: improve shield components
  src/.vuepress/theme/client/components/global/GitHubShield.ts
  src/.vuepress/theme/client/components/global/Integration.vue
  src/.vuepress/theme/client/components/global/MPImg.vue
  src/.vuepress/theme/client/components/global/NpmShield.ts
  src/.vuepress/theme/client/components/global/PackagistShield.ts
  src/.vuepress/theme/client/components/global/Shield.ts
  src/.vuepress/theme/client/components/global/TeamMember.vue
  src/contributing.md
  src/documentation/10.woocommerce/02.installatie.md
  src/documentation/10.woocommerce/readme.md
  src/documentation/11.prestashop/02.installatie.md
  src/documentation/11.prestashop/readme.md
  src/documentation/13.magento2/readme.md
  src/documentation/50.php-sdk/readme.md
  src/documentation/51.js-sdk/readme.md
  src/documentation/60.delivery-options/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: update delivery options installation
  src/documentation/60.delivery-options/01.installation.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: edit typography
  src/.vuepress/theme/client/styles/_typography.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: add workflow_dispatch trigger to reindex
  .github/workflows/reindex.yml
Owners: @myparcelnl/integration

fix: stop appending slashes to links with query parameters
  src/.vuepress/theme/client/composables/useLink.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend
