Repository myparcelnl/developer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support, @myparcelnl/api

.github/CODEOWNERS:

# --- Global: Only integration developers ---
*  @myparcelnl/integration

# --- Frontend and VuePress: Both integration and frontend developers ---
*.js           @myparcelnl/integration @myparcelnl/frontend
*.json         @myparcelnl/integration @myparcelnl/frontend
*.ts           @myparcelnl/integration @myparcelnl/frontend
*.vue          @myparcelnl/integration @myparcelnl/frontend
src/.vuepress  @myparcelnl/integration @myparcelnl/frontend

# --- All markdown: Integration and IT support ---
*.md   @myparcelnl/integration @myparcelnl/it-support
*.mdx  @myparcelnl/integration @myparcelnl/it-support

# --- API Reference: Integration, API and IT support ---
src/api-reference  @myparcelnl/integration @myparcelnl/api @myparcelnl/it-support

docs: update about link
  src/.vuepress/config/navigation/nl.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix contact form
  src/.vuepress/theme/client/composables/useContactForm.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: fix incorrect urls
  .github/workflows/pull-request.yml
  .gitignore
  package.json
  src/.vuepress/config/navigation/nl.yml
  src/.vuepress/integrations.json
  src/.vuepress/theme/client/composables/navbar/useSwitchLanguage.ts
  src/.vuepress/theme/client/composables/useDataTypes.ts
  src/.vuepress/theme/client/utils/resolveLink.ts
  src/.vuepress/theme/client/utils/resolveLinks.ts
  src/.vuepress/theme/client/utils/routeExists.ts
  src/.vuepress/theme/mdPlugin.ts
  src/api-reference/04.data-types.md
  src/api-reference/06.shipments.md
  src/api-reference/07.shipment-related-object-definitions.md
  src/api-reference/08.delivery-options.md
  src/api-reference/09.delivery-options-object-definitions.md
  src/api-reference/10.webhooks.md
  src/api-reference/11.webhook-object-definitions.md
  src/api-reference/12.drop-off-points.md
  src/api-reference/readme.md
  src/contributing.md
  src/documentation/50.php-sdk.md
  src/documentation/readme.md
  src/getting-started.md
  src/nl/api-reference.md
  src/nl/readme.md
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/api, @myparcelnl/it-support

build: update build cache flow
  .github/workflows/build/action.yml
Owners: @myparcelnl/integration

build: remove extra cache step (temporarily)
  .github/workflows/build/action.yml
Owners: @myparcelnl/integration

build: move yarn install step up
  .github/workflows/build/action.yml
Owners: @myparcelnl/integration

build: merge deploy steps into one
  .github/workflows/deploy.yml
Owners: @myparcelnl/integration

build: update test links script
  package.json
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: update name of deploy action
  .github/workflows/deploy.yml
Owners: @myparcelnl/integration

build: add action to rebase prs on push to main
  .github/workflows/push.yml
Owners: @myparcelnl/integration

build: update workflows
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/reindex.yml
Owners: @myparcelnl/integration

build: remove tap-spot
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

build: add actions/checkout before rebase
  .github/workflows/push.yml
Owners: @myparcelnl/integration

docs: add Plug&Pay to integrations
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/plug-and-pay.svg
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add Plug&Pay to integrations (#13)
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/plug-and-pay.svg
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add DeliveryMatch to integrations
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/deliverymatch.png
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: change deliverymatch logo
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/deliverymatch.png
  src/.vuepress/public/integrations/deliverymatch.svg
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: add DeliveryMatch to integrations (#14)
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/deliverymatch.svg
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: improve sidebar and add breadcrumbs
  src/.vuepress/config/sidebar/createArraySidebar.ts
  src/.vuepress/config/sidebar/createObjectSidebar.ts
  src/.vuepress/config/sidebar/createPageData.ts
  src/.vuepress/config/sidebar/createSidebar.node.spec.ts
  src/.vuepress/config/sidebar/createSidebar.ts
  src/.vuepress/config/sidebar/deepSet.ts
  src/.vuepress/config/sidebar/getVuePressBarConfig.ts
  src/.vuepress/config/sidebar/transformSidebar.ts
  src/.vuepress/plugins/parseTranslations/node/parseTranslations.ts
  src/.vuepress/theme/client/components/global/Stack.vue
  src/.vuepress/theme/client/components/sidebar-item/SidebarItem.vue
  src/.vuepress/theme/client/composables/sidebar/resolveMultiSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/resolveSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/setupSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/useSidebar.ts
  src/.vuepress/theme/client/composables/useBreadcrumbs.ts
  src/.vuepress/theme/client/composables/useContributors.ts
  src/.vuepress/theme/client/composables/useEditNavLink.ts
  src/.vuepress/theme/client/composables/useLastUpdated.ts
  src/.vuepress/theme/client/composables/usePrevNextNavLinks.ts
  src/.vuepress/theme/client/utils/resolveLink.ts
  src/.vuepress/theme/client/views/layout/layout/Layout.vue
  src/.vuepress/theme/client/views/page/Page.vue
  src/.vuepress/theme/client/views/page/RouteBreadcrumbs.vue
  src/.vuepress/theme/config.types.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: improve sidebar and add breadcrumbs (#15)
  src/.vuepress/config/sidebar/createArraySidebar.ts
  src/.vuepress/config/sidebar/createObjectSidebar.ts
  src/.vuepress/config/sidebar/createPageData.ts
  src/.vuepress/config/sidebar/createSidebar.node.spec.ts
  src/.vuepress/config/sidebar/createSidebar.ts
  src/.vuepress/config/sidebar/deepSet.ts
  src/.vuepress/config/sidebar/getVuePressBarConfig.ts
  src/.vuepress/config/sidebar/transformSidebar.ts
  src/.vuepress/plugins/parseTranslations/node/parseTranslations.ts
  src/.vuepress/theme/client/components/global/Stack.vue
  src/.vuepress/theme/client/components/sidebar-item/SidebarItem.vue
  src/.vuepress/theme/client/composables/sidebar/resolveMultiSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/resolveSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/setupSidebarItems.ts
  src/.vuepress/theme/client/composables/sidebar/useSidebar.ts
  src/.vuepress/theme/client/composables/useBreadcrumbs.ts
  src/.vuepress/theme/client/composables/useContributors.ts
  src/.vuepress/theme/client/composables/useEditNavLink.ts
  src/.vuepress/theme/client/composables/useLastUpdated.ts
  src/.vuepress/theme/client/composables/usePrevNextNavLinks.ts
  src/.vuepress/theme/client/utils/resolveLink.ts
  src/.vuepress/theme/client/views/layout/layout/Layout.vue
  src/.vuepress/theme/client/views/page/Page.vue
  src/.vuepress/theme/client/views/page/RouteBreadcrumbs.vue
  src/.vuepress/theme/config.types.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs(php-sdk): move contribution guidelines to github
  src/documentation/50.php-sdk.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: add release note menu item
  src/.vuepress/config/createNavbar.ts
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
  src/.vuepress/config/routes.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

Create api.md
  src/release-notes/api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Updated rate limit information and added API release notes.
  src/api-reference/01.requests.md
  src/release-notes/api.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

wip
  src/api-reference/01.requests.md
  src/release-notes/api.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

refactor: rename const
  src/.vuepress/config/routes.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

chore: fix links
  package.json
  src/release-notes/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: add api release notes (#16)
  package.json
  src/.vuepress/config/createNavbar.ts
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
  src/.vuepress/config/routes.ts
  src/api-reference/01.requests.md
  src/release-notes/api.md
  src/release-notes/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/api, @myparcelnl/it-support

Update api.md
  src/release-notes/api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Update src/release-notes/api.md
  src/release-notes/api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: update api release notes introduction (#17)
  src/release-notes/api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: upload new ccv logo
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/ccv.png
  src/.vuepress/public/integrations/ccv.svg
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: upload new ccv logo (#19)
  src/.vuepress/integrations.json
  src/.vuepress/public/integrations/ccv.png
  src/.vuepress/public/integrations/ccv.svg
Owners: @myparcelnl/integration, @myparcelnl/frontend

Create 13.user-exceptions.md
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 13.user-exceptions.md
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs(api): add user exceptions for shipment endpoints (#20)
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs: add UI release notes
  src/.vuepress/config/createNavbar.ts
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
  src/nl/release-notes/10.api.md
  src/nl/release-notes/20.frontend.md
  src/nl/release-notes/readme.md
  src/release-notes/10.api.md
  src/release-notes/20.frontend.md
  src/release-notes/frontend-images/haalservice-redesign.png
  src/release-notes/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

add image
  src/release-notes/frontend-images/haalservice-redesign.png
Owners: @myparcelnl/integration

Add other user exceptions
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs: add UI release notes
  src/nl/release-notes/10.api.md
  src/nl/release-notes/20.frontend.md
Owners: @myparcelnl/integration, @myparcelnl/it-support
