Repository myparcelnl/developer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support, @myparcelnl/api

docs: update typography
  src/.vuepress/theme/client/styles/_typography.scss
Owners: @myparcelnl/integration, @myparcelnl/frontend

refactor: cleanup code
  src/.vuepress/theme/client/registerComponents.ts
  src/.vuepress/theme/node/plugins/registerCustomComponentsPlugin.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

feat: add code group component
  src/.vuepress/theme/client/components/global/CodeGroup.ts
  src/.vuepress/theme/client/components/global/CodeGroupItem.vue
  src/.vuepress/theme/client/styles/_code.scss
  src/documentation/60.delivery-options/01.installation.md
  types/types.d.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: remove transition from image loader
  src/.vuepress/theme/client/components/global/MPImg.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

seo: add aria-label attributes to buttons
  src/.vuepress/theme/client/components/common/button/MPButton.vue
  src/.vuepress/theme/client/components/global/ContactForm.vue
  src/.vuepress/theme/client/components/global/Cta.vue
  src/.vuepress/theme/client/views/home/home-link/HomeLink.vue
  src/.vuepress/theme/client/views/home/home-partner-brand/HomePartnerBrand.vue
  src/.vuepress/theme/client/views/layout/header/toggle-color-mode-button/ToggleColorModeButton.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

a11y: remove tabindex from hidden items
  src/.vuepress/theme/client/views/layout/header/toggle-sidebar-button/ToggleSidebarButton.vue
  src/.vuepress/theme/node/plugins/autoLinkPlugin.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

a11y: add link text to logo
  src/.vuepress/theme/client/views/layout/header/navbar/navbar-brand/NavbarBrand.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: update algolia/algoliasearch-crawler-github-actions to v1.1.5
  .github/workflows/reindex.yml
Owners: @myparcelnl/integration

docs: fix broken images in plugin documentation
  src/documentation/10.woocommerce/03.configuratie/01.algemeen.md
  src/documentation/10.woocommerce/03.configuratie/02.standaard-exportinstellingen.md
  src/documentation/10.woocommerce/03.configuratie/03.checkout-instellingen.md
  src/documentation/13.magento2/03.configuratie/04.backend-functionaliteiten.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

seo: improve seo and reduce link issues
  package.json
  src/.vuepress/config/createFooter.ts
  src/.vuepress/config/head.ts
  src/.vuepress/config/routes.ts
  src/.vuepress/theme/client/components/global/DataType.vue
  src/.vuepress/theme/client/components/logo/MPLogo.vue
  src/.vuepress/theme/index.ts
  src/.vuepress/theme/node/plugins/incrementHeadingsPlugin.ts
  src/.vuepress/theme/seoPlugin.ts
  src/api-reference/06.shipments.md
  src/api-reference/07.shipment-related-object-definitions.md
  src/api-reference/08.delivery-options.md
  src/api-reference/09.delivery-options-object-definitions.md
  src/api-reference/10.webhooks.md
  src/api-reference/11.webhook-object-definitions.md
  src/api-reference/12.drop-off-points.md
  src/api-reference/readme.md
  src/contributing/readme.md
  src/documentation/11.prestashop/03.configuratie/08.faq.md
  src/documentation/60.delivery-options/01.installation.md
  src/documentation/readme.md
  src/getting-started/readme.md
  src/integrations/readme.md
  src/readme.md
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/api, @myparcelnl/it-support

Apply suggestions from code review
  src/documentation/10.woocommerce/03.configuratie/01.algemeen.md
  src/documentation/10.woocommerce/03.configuratie/02.standaard-exportinstellingen.md
  src/documentation/10.woocommerce/03.configuratie/03.checkout-instellingen.md
  src/documentation/13.magento2/03.configuratie/04.backend-functionaliteiten.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: fix broken images in plugin documentation (#12)
  src/documentation/10.woocommerce/03.configuratie/01.algemeen.md
  src/documentation/10.woocommerce/03.configuratie/02.standaard-exportinstellingen.md
  src/documentation/10.woocommerce/03.configuratie/03.checkout-instellingen.md
  src/documentation/13.magento2/03.configuratie/04.backend-functionaliteiten.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

fix: swap gtag for gtm
  src/.vuepress/config.ts
  src/.vuepress/gtmPlugin/src/client/composables/index.ts
  src/.vuepress/gtmPlugin/src/client/composables/useGoogleTagManager.ts
  src/.vuepress/gtmPlugin/src/client/composables/useSetupGoogleTagManager.ts
  src/.vuepress/gtmPlugin/src/client/config.ts
  src/.vuepress/gtmPlugin/src/client/index.ts
  src/.vuepress/gtmPlugin/src/node/googleTagManagerPlugin.ts
  src/.vuepress/gtmPlugin/src/node/index.ts
  src/.vuepress/gtmPlugin/src/shared/index.ts
  src/.vuepress/gtmPlugin/src/shared/types.ts
  src/.vuepress/theme/client/components/global/ContactForm.vue
  src/.vuepress/theme/client/composables/useContactForm.ts
  src/.vuepress/theme/client/services/tailwind/variants/messageTextVariant.ts
  types/types.d.ts
  types/window.d.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

aiiy: add aria-labels to contact ctas
  src/contact/readme.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

fix: fix wonky logo in ssr
  src/.vuepress/theme/client/components/logo/MPLogo.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix: realign icons on contact form
  src/.vuepress/theme/client/components/global/Cta.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(ssr): set image loading to false by default
  src/.vuepress/theme/client/components/global/MPImg.vue
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: use local actions
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration

ci: use google sheet secrets
  .github/workflows/build.yml
Owners: @myparcelnl/integration

document translations requirement and put document id inline
  .github/workflows/build.yml
  package.json
  src/contributing/readme.md
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

docs: fix references to other languages
  src/documentation/10.woocommerce.md
  src/documentation/11.prestashop.md
  src/documentation/13.magento2.md
  src/documentation/14.shopify.md
  src/documentation/15.shopware.md
  src/documentation/20.wix.md
  src/nl/documentatie/50.php-sdk.md
  src/nl/documentatie/51.js-sdk.md
  src/nl/documentatie/60.delivery-options.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: squash delivery options into one file
  src/documentation/60.delivery-options.md
  src/documentation/60.delivery-options/01.installation.md
  src/documentation/60.delivery-options/09.options.md
  src/documentation/60.delivery-options/10.usage-examples.md
  src/documentation/60.delivery-options/99.contributing.md
  src/documentation/60.delivery-options/readme.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: fix link to delivery-options npm package
  src/documentation/60.delivery-options.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: squash js-sdk into one file
  src/.vuepress/config/createFooter.ts
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
  src/.vuepress/integrations.json
  src/api-reference/readme.md
  src/documentation/51.javascript-sdk.md
  src/documentation/51.js-sdk/01.installation.md
  src/documentation/51.js-sdk/10.usage-examples.md
  src/documentation/51.js-sdk/20.endpoints.md
  src/documentation/51.js-sdk/99.contributing.md
  src/documentation/51.js-sdk/readme.md
  src/documentation/readme.md
  src/nl/documentatie/51.js-sdk.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/api, @myparcelnl/it-support

docs: squash php-sdk into one file
  src/documentation/50.php-sdk.md
  src/documentation/50.php-sdk/01.installation.md
  src/documentation/50.php-sdk/02.examples/01.create-consignment.md
  src/documentation/50.php-sdk/02.examples/02.using-multiple-carriers.md
  src/documentation/50.php-sdk/02.examples/03.create-multiple-consignments.md
  src/documentation/50.php-sdk/02.examples/04.create-return-in-the-box.md
  src/documentation/50.php-sdk/02.examples/05.label-format-and-position.md
  src/documentation/50.php-sdk/02.examples/06.package-type-and-options.md
  src/documentation/50.php-sdk/02.examples/07.find-consignments.md
  src/documentation/50.php-sdk/02.examples/08.query-consignments.md
  src/documentation/50.php-sdk/02.examples/09.retrieve-data-from-a-consignment.md
  src/documentation/50.php-sdk/02.examples/10.create-and-download-labels.md
  src/documentation/50.php-sdk/02.examples/11.orders.md
  src/documentation/50.php-sdk/02.examples/12.instabox.md
  src/documentation/50.php-sdk/02.examples/13.webhooks.md
  src/documentation/50.php-sdk/03.reference/01.models.md
  src/documentation/50.php-sdk/03.reference/02.helpers.md
  src/documentation/50.php-sdk/03.reference/03.delivery-options.md
  src/documentation/50.php-sdk/05.exceptions.md
  src/documentation/50.php-sdk/06.tips.md
  src/documentation/50.php-sdk/07.contribute.md
  src/documentation/50.php-sdk/readme.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

feat: generate sitemap on build
  src/.vuepress/config.ts
  src/.vuepress/plugins/sitemap.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: deploy build to s3 as well as github pages
  .github/workflows/deploy.yml
Owners: @myparcelnl/integration

fix(sitemap): use correct timestamp format
  src/.vuepress/plugins/sitemap.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(deploy): set private to true on s3 action
  .github/workflows/deploy.yml
Owners: @myparcelnl/integration

ci(deploy): separate s3 step
  .github/workflows/deploy.yml
Owners: @myparcelnl/integration

build: use yarn 2
  .github/workflows/build.yml
  .yarn/releases/yarn-3.2.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Owners: @myparcelnl/integration, @myparcelnl/frontend

fix(sitemap): don't generate invalid lastmod
  src/.vuepress/plugins/sitemap.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci(build): use composite action instead of workflow
  .github/workflows/build.yml
  .github/workflows/build/action.yml
  .github/workflows/deploy.yml
  .github/workflows/pull-request.yml
Owners: @myparcelnl/integration

fix(sitemap): fix xml formatting
  src/.vuepress/plugins/sitemap.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

ci: fix cache action
  .github/workflows/build/action.yml
Owners: @myparcelnl/integration

fix(sitemap): remove index.html from urls
  src/.vuepress/plugins/sitemap.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update
  7629fbe1b93a4dafa1b4fa356ccb7413.txt
Owners: @myparcelnl/integration

docs: update links
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
  src/nl/about.md
  src/nl/contact.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

fix: fix some language redirects
  src/.vuepress/theme/client/utils/routeExists.ts
Owners: @myparcelnl/integration, @myparcelnl/frontend

docs: update links
  src/.vuepress/config/createFooter.ts
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
Owners: @myparcelnl/integration, @myparcelnl/frontend

.github/CODEOWNERS:

# --- Global: Only integration developers ---
*  @myparcelnl/integration

# --- Frontend and VuePress: Both integration and frontend developers ---
*.js           @myparcelnl/integration @myparcelnl/frontend
*.json         @myparcelnl/integration @myparcelnl/frontend
*.ts           @myparcelnl/integration @myparcelnl/frontend
*.vue          @myparcelnl/integration @myparcelnl/frontend
src/.vuepress  @myparcelnl/integration @myparcelnl/frontend

# --- All markdown: Integration and IT support ---
*.md   @myparcelnl/integration @myparcelnl/it-support
*.mdx  @myparcelnl/integration @myparcelnl/it-support

# --- API Reference: Integration, API and IT support ---
src/api-reference  @myparcelnl/integration @myparcelnl/api @myparcelnl/it-support
