Repository myparcelnl/developer, changes with the owners that .github/CODEOWNERS names for each.
All owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support, @myparcelnl/api

Update 13.user-exceptions.md
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs: remove english version
  src/release-notes/10.api.md
  src/release-notes/20.frontend.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: add frontend release notes (#18)
  src/.vuepress/config/createNavbar.ts
  src/.vuepress/config/navigation/en.yml
  src/.vuepress/config/navigation/nl.yml
  src/nl/release-notes/10.api.md
  src/nl/release-notes/20.frontend.md
  src/nl/release-notes/readme.md
  src/release-notes/readme.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/it-support

Update 13.user-exceptions.md
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs(api): Add other user exceptions (#21)
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs: remove h4 from shipment option combinations
  src/api-reference/06.shipments.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs: remove h4 from shipment option combinations (#22)
  src/api-reference/06.shipments.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 10.api.md
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Update 10.api.md
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Update 10.api.md
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Update 10.api.md
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: add new notes for api (#24)
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

Update 04.data-types.md
  src/api-reference/04.data-types.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 13.orders.md
  src/api-reference/13.orders.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Create 13.orders.md
  src/api-reference/13.orders.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 07.shipment-related-object-definitions.md
  src/api-reference/07.shipment-related-object-definitions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 13.user-exceptions.md
  src/api-reference/13.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Create 14.order-object-definitions.md
  src/api-reference/14.order-object-definitions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 10.webhooks.md
  src/api-reference/10.webhooks.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Rename 13.user-exceptions.md to 14.user-exceptions.md
  src/api-reference/14.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 13.orders.md
  src/api-reference/13.orders.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 10.webhooks.md
  src/api-reference/10.webhooks.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 13.orders.md
  src/api-reference/13.orders.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update and rename 14.user-exceptions.md to 15.user-exceptions.md
  src/api-reference/15.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 14.user-exceptions.md
  src/api-reference/14.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 13.orders.md
  src/api-reference/13.orders.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 04.data-types.md
  src/api-reference/04.data-types.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 14.order-object-definitions.md
  src/api-reference/14.order-object-definitions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

Update 14.order-object-definitions.md
  src/api-reference/14.order-object-definitions.md
Owners: @myparcelnl/integration, @myparcelnl/api, @myparcelnl/it-support

docs: fix broken links and errors in text
  src/.vuepress/theme/client/components/global/DataType.vue
  src/.vuepress/theme/client/composables/useDataTypes.ts
  src/api-reference/04.data-types.md
  src/api-reference/11.webhook-object-definitions.md
  src/api-reference/13.orders.md
  src/api-reference/14.order-object-definitions.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/api, @myparcelnl/it-support

docs: add orders documentation (#23)
  src/.vuepress/theme/client/components/global/DataType.vue
  src/.vuepress/theme/client/composables/useDataTypes.ts
  src/api-reference/04.data-types.md
  src/api-reference/07.shipment-related-object-definitions.md
  src/api-reference/10.webhooks.md
  src/api-reference/11.webhook-object-definitions.md
  src/api-reference/13.orders.md
  src/api-reference/14.order-object-definitions.md
  src/api-reference/15.user-exceptions.md
Owners: @myparcelnl/integration, @myparcelnl/frontend, @myparcelnl/api, @myparcelnl/it-support

update 10.api.md
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

docs: update 10.api.md (#25)
  src/nl/release-notes/10.api.md
Owners: @myparcelnl/integration, @myparcelnl/it-support

.github/CODEOWNERS:

# --- Global: Only integration developers ---
*  @myparcelnl/integration

# --- Frontend and VuePress: Both integration and frontend developers ---
*.js           @myparcelnl/integration @myparcelnl/frontend
*.json         @myparcelnl/integration @myparcelnl/frontend
*.ts           @myparcelnl/integration @myparcelnl/frontend
*.vue          @myparcelnl/integration @myparcelnl/frontend
src/.vuepress  @myparcelnl/integration @myparcelnl/frontend

# --- All markdown: Integration and IT support ---
*.md   @myparcelnl/integration @myparcelnl/it-support
*.mdx  @myparcelnl/integration @myparcelnl/it-support

# --- API Reference: Integration, API and IT support ---
src/api-reference  @myparcelnl/integration @myparcelnl/api @myparcelnl/it-support
